{% extends "basewithmenu.html" %}
{% block page_content %}
<center>
  <h2> Editing User Profile </h2>
  <form action="." method="POST">
    <table>
      <tr>
        <td>Username:</td>
        <td>
          <input type="text"
                 name="username"
                 value="{{ obj.user.username }}"
                 readonly="readonly">
        </td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><input type="text" name="name" value="{{ obj.user.first_name }}"></td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td><input type="text" name="phone" value="{{ obj.phone }}"></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center">
          <input type="submit" name="savechanges" value="Save" class="btn">
        </td>
      </tr>
    </table>
  </form>
</center>
{% endblock %}

