{% extends "basewithmenu.html" %}
{% block page_content %}
<center>
  <h2> User Profile </h2>
  <form action="." method="POST">
    <table>
      <tr>
        <th style="text-align:left">Username:</th>
        <td>{{ obj.user.username }}</td>
      </tr>
      <tr>
        <th style="text-align:left">Name:</th>
        <td>{{ obj.user.first_name }}</td>
      </tr>
      <tr>
        <th style="text-align:left">Phone Number:</th>
        <td>{{ obj.phone }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" name="edit" value="Edit Profile">
          <input type="submit" name="reset" value="Change Password">
        </td>
    </table>
  </form>
</center>
{% endblock %}

