body {
   font-family: sans-serif;
   margin: 10px auto;
   width: 900px;
   font-size: 90%;
}

fieldset {
   padding: 10px;
}

.content_wrapper {
   padding: 20px 10px;
   background-color: #dce8e8; // #99c0ec;
   height: 100%;
}

div.top_panel {
}

div.system_panel {
   text-align: right;
   width: 100%;
   padding-top: 5px;
   height: 25px;
   border-bottom: 2px solid #044a98;
}

div.userpanel {
   text-align: right;
   padding-bottom: 5px;
}

.userpanel a {
   padding-right: 10px;
}

div.logo_top_menu {
}

div.logo {
   float: left;
   width:  260px;
   height: 120px;
   font-weight: bold;
   font-size: 36px;
   padding-bottom: 10px;
}

div.top_menu {
   float: right;
   text-align: center;
   width: 600px;
   height: 120px;
   position: relative;
   vertical-align: bottom;
   border-spacing: 0;
   border-collapse: collapse;
   padding-bottom:10px;
}

div.top_menu table.top_menu {
   padding: 10px 0px;
   background-color: #044a98;
   position: absolute;
   bottom: 10px;
   width: 100%;
}

div.top_menu table.top_menu tr td {
   border: 0px;
   height: 30px;
   vertical-align: middle;
}

div.top_menu table.top_menu tr td a {
   font-size: 14px;
   color: white;
   text-decoration: none;
   font-weight: bold;
}

div.page_content {
   clear: both;
}

div.category_filter {
   float: left;
   width: 260px;
   height: 400px;
   padding-top: 20px;
}

ul.category {
   padding-left: 5px;
}

ul.category li.category_item {
   font-weight: bold;
   font-size: 20px;
   padding: 5px;
   text-transform: uppercase;
   list-style-type: none;
}

#base_map {
   float: right;
   height: 400px;
   width: 600px;
}

div.footer {
   clear: both;
   text-align: center;
   padding-top: 20px;
   border-top: 2px solid #044a98;
   padding-bottom: 20px;
}

div.complaint_location {
   height: 480px;
}

#complaint_location {
   height: 420px;
   width: 480px;
}

select.complaint_box {
   width: 355px;
}

div.left_section {
   float: left;
   width: 500px;
}

div.right_section {
   float: left;
   width: 380px;
}

label.report_date {
   padding-top: 10px;
}

.ui-widget {
   font-family: sans-serif;
   font-size: 90%;
}

.ui-menu-item {
   border-bottom: 1px solid #888888;
}

.ui-autocomplete {
   max-height: 150px;
   overflow-y: auto;
   /* prevent horizontal scrollbar */
   overflow-x: hidden;
   /* add padding to account for vertical scrollbar */
   padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
   height: 100px;
}


.form-field ul.errorlist {
   float: right;
   text-align: right;
   padding: 0px;
   margin: 0px;
}

.form-field ul.errorlist li {
   padding: 0px;
   margin: 0px;
   text-align: right;
   color: red;
   display: inline;
   list-style-type: none;
   text-align: right;
}

#id_logdate {
   margin: 0px;
   padding: 0px;
}

.complaintlist {
   width: 100%;
}

.complaintlist th {
   font-weight: bold;
   background: #B9C9FE;
   border-top: 4px solid #AABCFE;
   border-bottom: 1px solid white;
   color: #669;
   padding: 8px;
}

.complaintlist td {
   background: #E8EDFF;
   border-bottom: 1px solid white;
   color: #336;
   border-top: 1px solid transparent;
   padding: 8px;
}

.inlineform {
   display: inline;
}

.pagination {
   text-align: left;
}